/* //apply css for index.html page.css will be applied globally... */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-1: "Public Sans", sans-serif;
    --font-2: "Montserrat", sans-serif;
    --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;

    --my-violet: #6A1B9A;
    --my-gray: #3A3A3A;
    --my-black: hsla(30, 11%, 4%, 1);
    --my-white: #FFFFFF;
    --my-pink: #FF4081;
}

.special-text{
    font-family: var(--font-2);
}
